*{
    margin: 0;
    padding: 0;
}
.top{
    width: 990px;
    margin: 0 auto;
    height: 60px;
}
.top a{
    text-decoration: none;
}
.top a:hover{
    color:#e4393c ;
    text-decoration: underline;
}
.logo{
    position: relative;
    height: 60px;
    margin-left: 10px;
    float: left;
}
.logo span{
    display: block;
    width: 110px;
    height: 40px;
    margin-left: 20px;
    position: absolute;
    top:20px;
    left: 170px;
    background: url("../image/l-icon.png");
}

.d{
    float: right;
    color: #999;
    margin-top: 30px;
}
.d span{
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url("../image/q-icon.png");
}
.red{
    background: #fff8f0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
}
.nr{
    width: 990px;
    color: #999;
    margin: 0 auto;
}
.nr span{
    display: inline-block;
    font-size: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: 0;
    background: url("../image/icon-tips.png");
}
.nr p{
    display: inline-block;
}
.nr a{
    text-decoration: none;
    color: black;
}
.nr a:hover{
    color:#e4393c ;
    text-decoration: underline;
}
.dl{
    background: #0c3c6a;
    height: 475px;
}
.dl .bg{
    width: 990px;
    height: 475px;
    margin: 0 auto;
    background: url("../image/gg.jpg");
}
.login{
    width: 346px;
    height: 456px;
    float: right;
    margin-top: 10px;
    background: white;
    text-align: center;
}
.login_top{
    background: #fff8f0;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login_top span{
    display: inline-block;
    font-size: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    left: 0;
    background: url("../image/icon-tips.png");
}
.login_top p{
    display: inline-block;
    background: #999;
    color: white;
}
.login_center{
    height: 54px;
    font-size: 18px;
    line-height: 54px;
    text-align: center;
    font-family: "microsoft yahei";
    border-bottom: 1px solid #f4f4f4;
}
.login_center .left{
    width: 170px;
    float: left;
}
.login_center .left:hover{
    color: #e4393c;
    font-weight: 700;
}
.login_center .right{
    color: #e4393c;
    width: 169px;
    float: right;
    font-weight: 700;
}
.login_body{
    height: 309px;
    position: absolute;
    /*background: #333333;*/
}
.login_body div:nth-child(1){
    margin-top: 36px;
    margin-bottom: 24px;
}
.item{
    width: 38px;
    height: 38px;
    background-image: url("../image/pwd-icons-new.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 38px;
    left: 22px;
}
.item_1{
    padding: 10px 0 10px 50px;
    height: 18px;
    width: 254px;
    margin: 0 21px;
}
.item_2{
    width: 38px;
    height: 38px;
    background-image: url("../image/pwd-icons-new.png");
    background-repeat: no-repeat;
    background-position: -48px 0;
    position: absolute;
    top: 104px;
    left: 22px;
}
.login_body a{
    display: inline-block;
    margin-top: 26px;
    margin-right: 24px;
    float: right;
    color: #666;
    text-decoration: none;
}
.item_3{
    margin-top: 24px;
    width: 306px;
    height: 33px;
    background: #e4393c;
    color: white;
    font-size: 20px;
    margin-bottom: 34px;
}
.item_3:hover{
    cursor: pointer;
}
.bottom{
    width: 346px;
    height: 50px;
    /*line-height: 50px;*/
    background: #fcfcfc;
    font-size: 12px;
    margin-top: 309px;
}
.bottom a{
    text-decoration: none;
    position: relative;
    top: -4px;
    left: 0px;
}
.bottom a:hover{
    text-decoration: underline;
    color: #e4393c;

}
.bottom span{
    display: inline-block;
    width: 19px;
    height: 18px;
    background-image: url("../image/QQ-weixin.png");
    background-repeat: no-repeat;
}
.bottom div{
    display: inline-block;
    padding-top: 14px;
    padding-bottom: 14px;
}
.li_1{
    background-position: 0 0;
}
.li_2{
    background-position: -20px 0;
}
.bottom .li{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../image/pwd-icons-new.png");
    background-repeat: no-repeat;
    background-position: -104px -75px;
}
.bottom div:nth-child(1){
    position: relative;
    top: 0;
    left: -60px;
}
.bottom div:nth-child(2){
    position: relative;
    top: 0;
    left: -60px;
}
.bottom div:nth-child(3){
    position: relative;
    top: 0;
    right: -60px;
}
.p:after{
    content: "|";
    margin: 0 10px;
    position: relative;
    top: -4px;
    left: 0px;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.db{
    width: 990px;
    height: 18px;
    line-height: 18px;
    margin: 24px auto 0;
    text-align: center;
    font-size: 12px;
}
.db a{
    color: #666;
    text-decoration: none;
}
.db a:hover{
    color: #e4393c;
    text-decoration: underline;
}
.list:after{
    content:"|" ;
    margin: 0 10px;
}
.db_3{
    margin-top: 24px;
    text-align: center;
    font-size: 12px;
    color: #666;
}